body{
background-color: teal;}
	
h1{
	text-align: center;
	color: orange;
	font-weight: bold;}
	
p{
	font-size: 25px;
	text-indent: 50px;
	color: maroon;}
	
text{
	color: lime;}
	
span{
	font-size: 18px;
	padding-left: 545px;
	color: navy;}
	
img {
  	position: absolute;
}
	
#board {
	position:absolute;
	width: 1500px; 
	height: 600px;
	border : 6px solid;
	border-radius: 5px;}
	
#rightSide {
	left: 50%;
	position:absolute;
	width: 50%; 
	height: 100%;
	border-left: 6px solid green;}